@font-face {
    font-family: "Iansui094-Regular";
    src: url("Iansui094-Regular.ttf");
}
* {
        -fx-text-fill: rgb(17, 235, 210);
        -fx-base: rgb(50, 50, 50);
        -fx-font-weight: bold;
        -fx-font-family: "Iansui094-Regular";
}

.label{
    -fx-text-fill: #d9d9d9;
    -fx-font-weight: bold;
}


.button{
    -fx-background-color: rgb(0, 0, 0);
    -fx-text-fill: rgb(17, 235, 210);
    -fx-font-size: 16px;
    /*-fx-font-family: "setofont";*/
    -fx-font-family: "Iansui094-Regular";
    -fx-font-weight: bold;
    -fx-border-color: #00D9C0;
    -fx-border-width: 2px;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.button:hover {
    -fx-background-color: rgb(50, 50, 50); /* 设置鼠标悬停时的背景颜色 */
}

.list_button {
    -fx-background-color: black;
    -fx-text-fill: #E6E6E6;
    -fx-font-size: 16px;
    -fx-border-color: white;
    -fx-border-width: 2px;
}


.pane {
    -fx-background-color: rgb(44, 46, 46); /* 使用十六进制颜色代码 */
}


/*表格設置*/

.table-row-cell {
    -fx-border-color: rgb(50, 50, 50);
    -fx-background-color: rgb(20, 20, 20); /* 设置背景颜色 */
}

.table-row-cell:hover {
    -fx-background-color: rgb(50, 50, 50); /* 设置鼠标悬停时的背景颜色 */
}

.table-view .column-header {
    -fx-border-color: rgb(23, 250, 149);
    -fx-border-width: 2px;
    -fx-background-color: black; /* 设置表头的背景颜色 */
}

.table-row-cell:selected {

    -fx-background-color: #899C91; /* 设置选中行的背景颜色 */
}

.table-cell {
    -fx-border-color: #94CFA3;
    -fx-border-width: 1px;
    -fx-text-fill: white;
}

.table-view .scroll-bar:horizontal {
    -fx-background-color: rgb(50, 50, 50); /* 设置水平滚动条的背景颜色 */
}

.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(80, 80, 80); /* 设置水平滚动条拖动块的背景颜色 */
}

.table-view .scroll-bar:vertical {
    -fx-background-color: rgb(50, 50, 50); /* 设置水平滚动条的背景颜色 */
}

/* 垂直滚动条 */
.table-view .scroll-bar:pressed .vertical .thumb{
    -fx-background-color: red; /* 设置垂直滚动条的背景颜色 */
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: rgb(80, 80, 80); /* 设置垂直滚动条拖动块的背景颜色 */
}

.text-area {
    -fx-background-color: #FA000A;
    -fx-text-fill: #D9D9D9;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 5px;
}

.text-area .content {
    -fx-control-inner-background: black;
}

.radio-button {
    -fx-text-fill: white;
    -fx-font-size: 14px; /* 修改字体大小 */
}

.radio-button .radio {
    -fx-background-radius: 50%; /* 圆圈的圆角半径 */
    -fx-border-radius: 50%; /* 圆圈的边框圆角半径 */
    -fx-border-color: rgb(17, 235, 210); /* 圆圈的边框颜色 */
    -fx-border-width: 3px; /* 圆圈的边框宽度 */
}

.text-field {
    -fx-background-color: #FFFFFF; /* 背景颜色 */
    -fx-border-color: white; /* 边框颜色 */
    -fx-border-width: 3px; /* 边框宽度 */
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 5px; /* 内边距 */
    -fx-font-size: 17px; /* 字体大小 */
    -fx-font-weight: bold;
    -fx-text-fill: black;
}